dist
dist/index.html
dist/index.js
dist/model
dist/model/class_names.txt
dist/model/group1-shard1of1
dist/model/group2-shard1of1
dist/model/group3-shard1of1
dist/model/group4-shard1of1
dist/model/group5-shard1of1
dist/model/group6-shard1of1
dist/model/group7-shard1of5
dist/model/group7-shard2of5
dist/model/group7-shard3of5
dist/model/group7-shard4of5
dist/model/group7-shard5of5
dist/model/group8-shard1of1
dist/model/model.json
dist/vendors~index.js